.caret {
  background-image: url("../images/icon/all.png");
  background-position: 0 -683px;
  background-size: 33px 891px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.other-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -159px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.write {
  background-image: url("/assets/images/icon/all-8.png");
  background-position: 0px -502px;
  background-size: 25px 1537px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 7px;
}

.smiley-gray-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -182px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.image-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -307px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.friend-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -257px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.smiley-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -232px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.gps-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-7.png");
  background-position: 0px -275px;
  background-size: 25px 300px;
  background-repeat: no-repeat;
  display: inline-block;
}

.request-icon {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-5.png");
  background-position: 0px 0px;
  background-size: 25px 50px;
  background-repeat: no-repeat;
  display: inline-block;
}

.plus {
  background-image: url("../images/icon/all.png");
  background-position: 0 -599px;
  background-size: 33px 891px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icone-direct {
  background-image: url("../images/icon/all-2.png");
  background-position: 0px -85px;
  background-size: 49px 559px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icone-photo-video {
  height: 24px;
  width: 24px;
  background-image: url("/assets/images/icon/all-2.png");
  background-position: 0px -307px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.humeur-activite {
  height: 24px;
  width: 24px;
  background-image: url("../images/icon/all-2.png");
  background-position: 0px -232px;
  background-size: 49px 530px;
  background-repeat: no-repeat;
  display: inline-block;
}

.like {
  background-image: url("../images/icon/like.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.like-2 {
  background-image: url("../images/icon/all-3.png");
  background-position: -38px -190px;
  background-size: 73px 361px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  display: inline-block;
}

.comment {
  background-image: url("../images/icon/all-3.png");
  background-position: 0px -190px;
  background-size: 73px 361px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.share {
  background-image: url("../images/icon/all-3.png");
  background-position: 0px -209px;
  background-size: 73px 361px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.public {
  background-image: url("../images/icon/all-3.png");
  background-position: -13px -322px;
  background-size: 73px 361px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
}

.friends {
  background-image: url("../images/icon/all-3.png");
  background-position: 0px -296px;
  background-size: 73px 361px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
}

.more {
  background-image: url("../images/icon/all-4.png");
  background-position: -25px -131px;
  background-size: 73px 447px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-picture {
  background-image: url("/assets/images/icon/all-6.png");
  background-position: 0px -67px;
  background-size: 25px 334px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
